header .logo
{
    font-size: 17px;
}

.Ana_Sayfa h2 
{
    font-size: 1.3em;
}

.Ana_Sayfa h2 span
{
    font-size: 1.4em;
}

.Ana_Sayfa h3
{
    font-size: 1.1em;
}

.btn
{
    font-size: 0.9em;
}

.Hakkımda h2 {
    font-size: 20px;
}

.Hakkımda h3 {
    font-size: 18px ;
}

.Hakkımda p {
    font-size: 12px;
}

.yaptıklarım p
{
    font-size: 12px;
}


.iletişim p{
    font-size: 10px;
}

.formBx form input[type="submit"]
{
    font-size: 0.8em ;
    letter-spacing: 1px;
}



.comments h2 {
    font-size: 16px;
    
    
}

.comments h3{
    font-size: 16px;
    
}

.comments p{
    font-size: 12px;
}